/* grouping */
h1, h3 {
    background-color: blue;
}
/* id */
#main{
    color: rgb(237, 2, 2);
}
/* class */
.kushal{                
    color: brown;
}
/* universa */
*{
    margin: 30;
    padding: 30px;
}           